@using web.professionaltranslator.net.Areas.Blog.Models
@model web.professionaltranslator.net.Areas.Blog.Models.Components.Comments
<section id="comments">
    <div class="container">
        @if (Model.ShowComments)
        {
            <h2>
                <i class="fas fa-comments" title="Comments"></i>
                @if ((Model.CommentsAreOpen) && (Model.BeFirstToComment))
                {
                    <span>Be the first commenter!</span>
                }
            </h2>
            @foreach (Comment comment in Model.List)
            {
                <article id="@comment.Id" class="@(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                    <h3>
                        <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                            <a href="#@comment.Id" title="Permalink (#@comment.Id)">@comment.PubDate.ToString("MMMM d, yyyy")</a>
                        </time>
                    </h3>

                    <figure class="gravatar">
                        <img alt="@comment.Author" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="@comment.GetGravatar()" />
                    </figure>

                    <div class="content">
                        <p itemprop="text">@comment.RenderContent()</p>
                        <span itemprop="name">@comment.Author</span>

                        @if (Model.UserAuthenticated)
                        {
                            <a href="mailto:@comment.Email" title="Send email to @comment.Email"><i class="fas fa-envelope"></i></a>
                            <a class="delete-comment float-right" data-comment-id="@comment.Id" title="Delete this comment."><i class="fas fa-trash-alt"></i></a>
                        }
                    </div>
                </article>
            }
        }
        @if (Model.CommentsAreOpen)
        {
            <form id="comments_form" method="post" asp-antiforgery="false">
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-container validate-input" data-validate="Enter your comments here." title="Enter your comments here.">
                            <textarea id="comment_text" name="comment_text" onfocus="" class="input-element" placeholder="Enter your comment here..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="input-container validate-input" data-validate="Enter your name here." title="Your name goes here.">
                                <input id="comment_author" name="comment_author" placeholder="Your Name" class="input-element" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="input-container validate-input" data-validate="Valid email address required." title="Valid email address required.">
                                <input id="comment_email" name="comment_email" placeholder="Your Email Address" class="input-element" />
                            </div>
                        </div>
                    </div>
                    <div id="addComment_result_row" class="form-row hide-soft">
                        <div class="form-group col-12">
                            <div id="addComment_result_text" role="alert"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 text-center">
                            <button id="save_add_comment" type="submit" class="btn btn-link text-larger">
                                <i class="fas fa-comment"></i>
                                Add Comment
                            </button>
                            <!-- This element is to prevent comment spam-->
                            <input id="website" type="hidden" name="website" />
                        </div>
                    </div>
                </div>
            </form>
            <noscript>
                <div class="row">
                    <div class="col-12">
                        <h3>
                            You must enable JavaScript to post comments.
                        </h3>
                    </div>
                </div>
            </noscript>
            <script src="~/js/blog/components/comments.js" asp-append-version="true"></script>
        }
        else
        {
            <br />
            <p>Comments are closed</p>
        }
    </div>
</section>