@page
@using Models.Professionaltranslator.Net.Localized
@model ContactModel
@{
    ViewData["Title"] = Model.Item.Name;
    List<Page> localization = Model.Item.Localization;
    string html = localization.Any() ? localization[0].Html : string.Empty;
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="~/css/contact.css" />
}
<div class="row mt-5 mb-4">
    @if (Model.Item.Image != null)
    {
        <div class="col-lg-3 col-md-4 col-sm-12">
            <img src="@Model.Item.Image.Path" class="img-fluid img-inset" alt="@Model.Item.Name" title="@Model.Item.Name">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-justify">
            @Html.Raw(html)
        </div>
    }
    else
    {
        <div class="col-12 text-justify">
            @Html.Raw(html)
        </div>
    }
</div>
<div class="form-wrapper">
    <form class="form-container validate-form">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type your name here.">
                    <input class="input-element" type="text" name="name" placeholder="Enter Your Name">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type a valid email address here.">
                    <input class="input-element" type="email" name="name" placeholder="Enter Your Email Address">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type your message here.">
                    <textarea class="input-element" name="message" placeholder="Enter Your Message Here..."></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <button class="btn btn-purple" role="button" title="Discover what a professional translation can do for you."><span>Send Message</span></button>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script src="~/js/contact.js" asp-append-version="true"></script>
}
