@page "{handler?}"
@model ContactModel
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body;
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia -- Contact Me">
    <meta name="description" content="Contact me and get your translation started by filling out this form.">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net/Contact" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Contact Me" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/css/contact.min.css" asp-append-version="true" />
}
<div class="row mt-5 mb-4" style="display: none;">
    <div class="col-12 text-center page-header">
        <h2 class="h2-responsive page-header mb-5">
            <sup><i class="fas fa-quote-left"></i></sup>@Html.Raw(Model.Item.Header.Trim())<sup><i class="fas fa-quote-right"></i></sup>
        </h2>
    </div>
</div>
<div class="row mt-5 mb-4" style="display: none;">
    <div class="col-12">
        <p>
            My developers are currently upgrading the contact page.
        </p>
        <p>
            Please contact me directly at
            <a href="mailto:cinta@professionaltranslator.net">cinta@professionaltranslator.net</a>.
        </p>
        <p>
            Please tell me a bit about your project so we can get started. Keep in mind that <b>Localization</b> is for websites and applications. <b>Translation</b> covers every other type of translating work.
        </p>
        <p>
            Also, please feel free to upload the file(s) you wish translated. If you're not ready to that, don't worry about it. We can take care of it later.
        </p>
    </div>
</div>
<div class="row mt-5 mb-4">
    @if (Model.Item.Image != null)
    {
        <div class="col-lg-3 col-md-4 col-sm-12">
            <img src="@Model.Item.Image.Path" class="img-fluid img-inset" alt="@Model.Item.Name" title="@Model.Item.Name">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-justify">
            @Html.Raw(body)
        </div>
    }
    else
    {
        <div class="col-12 text-justify">
            @Html.Raw(body)
        </div>
    }
</div>
<div class="form-wrapper">
    <form class="form-container validate-form" autocomplete="off" method="post">
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type your name here." title="Your name goes here.">
                    <input id="client_name" class="input-element" type="text" placeholder="Your Name">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type a valid email address here." title="A valid email address is required here.">
                    <input id="client_email_address" class="input-element" type="email" placeholder="Your Email Address">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container light-gray-background d-flex justify-content-around align-content-center radio-container-flex">
                    <div class="form-check-inline-flex">
                        <label class="form-check-label" title="Translation -- anything other than website or app localization.">
                            <input type="radio" class="form-check-input" name="translation-type" value="Translation" checked aria-checked="True">Translation
                        </label>
                    </div>
                    <div class="form-check-inline-flex">
                        <label class="form-check-label" title="Localization is for a website or application.">
                            <input type="radio" class="form-check-input" name="translation-type" value="Localization">Localization
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container light-gray-background d-flex justify-content-around align-content-center radio-container-flex">
                    <div class="form-check-inline-flex">
                        <label class="form-check-label" title="Get your work translated from English to Spanish.">
                            <input type="radio" class="form-check-input" name="translation-direction" value="English to Spanish" checked aria-checked="True">English to Spanish
                        </label>
                    </div>
                    <div class="form-check-inline-flex">
                        <label class="form-check-label" title="Get your work translated from Spanish to English.">
                            <input type="radio" class="form-check-input" name="translation-direction" value="Spanish to English">Spanish to English
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please enter the subject matter here." title="Please enter the subject matter here. Examples include fiction, app, website, marketing, medical, etc.">
                    <input id="subject_matter" class="input-element" type="text" placeholder="Subject: Fiction, app, website, marketing, etc.">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please enter word count here." title="How many words does your work contain?">
                    <input id="word_count" class="input-element" type="number" placeholder="Word Count" min="1000" step="500">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-container validate-input light-gray-background" data-validate="Tell me about the work you need translated or localized." title="Tell me about the work you need translated or localized.">
                    <textarea id="message" class="input-element" placeholder="Tell me about the work you need translated or localized."></textarea>
                </div>
            </div>
        </div>
    </form>
    <form id="upload_form" method="post" enctype="multipart/form-data" class="disabled">
        <div class="row mb-4">
            <div class="col-12">
                <div class="accordion" id="upload_instructions_accordion">
                    <div class="card border-bottom">
                        <div class="card-header" id="heading_upload_instructions">
                            <h2 class="mb-0">
                                <button id="instructions_button" class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse_instructions" aria-expanded="true" aria-controls="collapse_instructions">
                                    <div id="open_instructions" class="d-flex flex-row justify-content-between align-items-center">
                                        Open File Upload Instructions <i class="fa fa-chevron-down"></i>
                                    </div>
                                    <div id="close_instructions" class="d-flex flex-row justify-content-between align-items-center hide">
                                        Close File Upload Instructions <i class="fa fa-chevron-up"></i>
                                    </div>
                                </button>
                            </h2>
                        </div>
                        <div id="collapse_instructions" class="collapse" aria-labelledby="heading_upload_instructions" data-parent="#upload_instructions_accordion">
                            <div class="card-body">
                                <p>
                                    You don't have to upload anything now, but if you choose to, you must first enter a name and email address.
                                </p>
                                <p>
                                    You can upload one or more files.
                                </p>
                                <p>
                                    If you're uploading multiple files, they must be in the same folder on your system.
                                </p>
                                <p>
                                    Files must be uploaded prior to sending a message.
                                </p>
                                <p>
                                    Any one file cannot be larger than 25MB.
                                </p>
                                <p>
                                    Accepted documents include <b>.doc</b>, <b>.docx</b>, <b>.xls</b>, <b>.xlsx</b>, <b>.pages</b>, <b>.pdf</b>, <b>.ppt</b>, <b>.pptx</b>, and <b>.txt</b>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="form-group col-4">
                <input type="file" id="file_upload_container" name="files" multiple class="form-control" accept=".xlsx,.xls,.doc,.docx,.pages,.ppt,.pptx,.txt,.pdf" />
            </div>
            <div class="form-group col-8">
                <button class="btn btn-primary" id="upload_files">Upload File(s)</button>
            </div>
        </div>
    </form>
    <div id="result_row" class="form-row hide-soft">
        <div class="form-group col-12">
            <div id="result_text" role="alert"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <button id="send_message" class="btn btn-purple" role="button" title="Discover what a professional translation can do for you."><span>Send Message</span></button>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/form.min.js" asp-append-version="true"></script>
    <script src="~/js/contact.min.js" asp-append-version="true"></script>
}
