@page
@model ContactModel
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body;
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia -- Contact Me">
    <meta name="description" content="Contact me and get your translation started by filling out this form.">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net/Contact" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Contact Me" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="~/css/contact.css" />
}
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
<div class="row mt-5 mb-4">
    @if (Model.Item.Image != null)
    {
        <div class="col-lg-3 col-md-4 col-sm-12">
            <img src="@Model.Item.Image.Path" class="img-fluid img-inset" alt="@Model.Item.Name" title="@Model.Item.Name">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-justify">
            @Html.Raw(body)
        </div>
    }
    else
    {
        <div class="col-12 text-justify">
            @Html.Raw(body)
        </div>
    }
</div>
<div class="form-wrapper">
    <form class="form-container validate-form" autocomplete="off" method="post">
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type your name here." title="Your name goes here.">
                    <input id="client_name" class="input-element" type="text" placeholder="Your Name">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type a valid email address here." title="A valid email address is required here.">
                    <input id="client_email_address" class="input-element" type="email" placeholder="Your Email Address">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type the title of your work here." title="The title of your work goes here.">
                    <input id="work_title" class="input-element" type="text" placeholder="Title of Work">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container light-gray-background radio-container">
                    <div class="form-check-inline">
                        <label class="form-check-label" title="Get your work translated from English to Spanish.">
                            <input type="radio" class="form-check-input" name="translation-type" value="English to Spanish" checked aria-checked="True">English to Spanish
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" title="Get your work translated from Spanish to English.">
                            <input type="radio" class="form-check-input" name="translation-type" value="Spanish to English">Spanish to English
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please enter genre here." title="Please enter genre here.">
                    <input id="genre" class="input-element" type="text" placeholder="Genre of Work">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please enter word count here." title="How many words does your work contain?">
                    <input id="word_count" class="input-element" type="number" placeholder="Word Count" min="5000" step="500">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-container validate-input light-gray-background" data-validate="Enter comments here, such as when you want your work translated, and any concerns you might have." title="Enter comments here, such as when you want your work translated, and any concerns you might have.">
                    <textarea id="message" class="input-element" placeholder="Enter Your Message Here..."></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <button id="send_message" class="btn btn-purple" role="button" title="Discover what a professional translation can do for you."><span>Send Message</span></button>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script src="~/js/contact.js" asp-append-version="true"></script>
}
