@page
@using Models.ProfessionalTranslator.Net.Localized
@model ContactModel
@{
    ViewData["Title"] = Model.Item.Name;
    List<Page> localization = Model.Item.Localization;
    string html = localization.Any() ? localization[0].Html : string.Empty;
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="~/css/contact.css" />
}
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            Thank you for contacting me.
        </h1>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-12">
        <p>
            Your message has been sent. Please expect a reply within twenty-four hours (or Monday if you've contacted me over the weekend).
        </p>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="row blockquote">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{name}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{email_address}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{title}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{genre}</b>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{word_count}</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>{translation_type}</b>
        </div>
        <div class="clearfix"></div>
        <div class="col-12">
            <b>{message}</b>
        </div>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            Get started today.
        </h1>      
    </div>
</div>
<div class="row mt-5 mb-4">
    @if (Model.Item.Image != null)
    {
        <div class="col-lg-3 col-md-4 col-sm-12">
            <img src="@Model.Item.Image.Path" class="img-fluid img-inset" alt="@Model.Item.Name" title="@Model.Item.Name">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-justify">
            @Html.Raw(html)
        </div>
    }
    else
    {
        <div class="col-12 text-justify">
            @Html.Raw(html)
        </div>
    }
</div>
<div class="form-wrapper">
    <form class="form-container validate-form" autocomplete="off">
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type your name here." title="Your name goes here.">
                    <input id="client_name" class="input-element" type="text" placeholder="Your Name">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type a valid email address here." title="A valid email address is required here.">
                    <input id="client_email_address" class="input-element" type="email" placeholder="Your Email Address">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please type the title of your work here." title="The title of your work goes here.">
                    <input id="work_title" class="input-element" type="text" placeholder="Title of Work">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container light-gray-background radio-container">
                    <div class="form-check-inline">
                        <label class="form-check-label" title="Get your work translated from English to Spanish.">
                            <input type="radio" class="form-check-input" name="optradio" value="English_to_Spanish" checked aria-checked="True">English to Spanish
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" title="Get your work translated from Spanish to English.">
                            <input type="radio" class="form-check-input" name="optradio" value="Spanish_to_English">Spanish to English
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please enter genre here." title="Please enter genre here.">
                    <input id="genre" class="input-element" type="text" placeholder="Genre of Work">
                </div>
            </div>
            <div class="form-group col-lg-6 col-md-12 col-sm-12">
                <div class="input-container validate-input light-gray-background" data-validate="Please enter word count here." title="How many words does your work contain?">
                    <input id="word_count" class="input-element" type="number" placeholder="Word Count">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-container validate-input light-gray-background" data-validate="Enter comments here, such as when you want your work translated, and any concerns you might have." title="Enter comments here, such as when you want your work translated, and any concerns you might have.">
                    <textarea id="message" class="input-element" placeholder="Enter Your Message Here..."></textarea>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <button class="btn btn-purple" role="button" title="Discover what a professional translation can do for you."><span>Send Message</span></button>
            </div>
        </div>
    </form>
</div>
@section Scripts
{
    <script src="~/js/contact.js" asp-append-version="true"></script>
}
