@page
@using global::Models.ProfessionalTranslator.Net.Log
@model InquiryResultModel
@{
    ViewData["Title"] = Model.Item.Title;
    Inquiry inquiryItem = Model.InquiryItem;
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia">
    <meta name="description" content="Fiction translation is an art that requires more than swapping one word for another. I specialize in translating English and Spanish.">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Hello! ¡Hola!" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-12 text-justify">
        @Html.Raw(Model.Item.Body)
    </div>
</div>
<div class="row mb-4">
    <div class="row blockquote">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>@inquiryItem.Name</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>@inquiryItem.EmailAddress</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>@inquiryItem.Title</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>@inquiryItem.Genre</b>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>@($"{inquiryItem.WordCount:n0}") words</b>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <b>@inquiryItem.TranslationType</b>
        </div>
        <div class="clearfix"></div>
        <div class="col-12 mt-3">
            <b>@inquiryItem.Message</b>
        </div>
    </div>
</div>