@page "{currentpage:int?}"
@using global::Models.ProfessionalTranslator.Net
@model PortfolioModel
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body;
}
@section MetaTags
{
    <meta name="title" content="Professional Translator, Cinta Garcia -- Portfolio">
    <meta name="description" content="A gallery of the books I've translated.">
    <meta name="keywords" content="Fiction Translations, Translate English to Spanish, Translate Spanish to English, Translate Novels, Translate Short Stories">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="90 days">
    <meta name="author" content="Cinta Garcia de la Rosa Translation Services">
    <meta property="og:url" content="https://professionaltranslator.net/Portfolio" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Portfolio" />
    <meta property="og:description" content="Translating Fiction is an art, one that I specialize in." />
    <meta property="og:image" content="https://professionaltranslator.net/img/og/intro-16-9.png" />
    <meta property="og:image:alt" content="Professional Translator - English & Spanish" />
}
<div class="row mt-5 mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            @Model.Count @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
<div class="row mt-5 mb-4">
    <div class="col-12 text-justify">
        @Html.Raw(body)
    </div>
</div>
<div id="gallery" class="row">
    @foreach (Work item in Model.Thumbnails)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 text-center">
            <div class="m-3">
                <a href="@item.Href" target="_external" title="@item.Title">
                    <img src="@item.Cover.Path" alt="@item.Title" title="@item.Title" class="zoom img-fluid img-inset" />
                </a>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        <ul class="pagination justify-content-center">
            <li class="page-item @(!Model.ShowFirst ? "disabled" : "")">
                <a asp-page="/Portfolio" asp-fragment="gallery" asp-route-CurrentPage="1" class="page-link" title="Go to the beginning."><i class="fas fa-fast-backward"></i></a>
            </li>

            <li class="page-item @(!Model.ShowPrevious ? "disabled" : "")">
                <a asp-page="/Portfolio" asp-fragment="gallery" asp-route-CurrentPage="@(Model.CurrentPage - 1)" title="Go to the previous page." class="page-link"><i class="fas fa-step-backward"></i></a>
            </li>
            <li class="page-item  @(!Model.ShowNext ? "disabled" : "")">
                <a asp-page="/Portfolio" asp-fragment="gallery" asp-route-CurrentPage="@(Model.CurrentPage + 1)" title="Go to the next page." class="page-link"><i class="fas fa-step-forward"></i></a>
            </li>

            <li class="page-item  @(!Model.ShowLast ? "disabled" : "")">
                <a asp-page="/Portfolio" asp-fragment="gallery" asp-route-CurrentPage="@Model.TotalPages" title="Go to the end." class="page-link"><i class="fas fa-fast-forward"></i></a>
            </li>
        </ul>
    </div>
</div>