@page "{slug?}/{currentpage?}/{category?}"
@using Microsoft.Extensions.Options
@using web.professionaltranslator.net
@using web.professionaltranslator.net.Areas.Blog
@using web.professionaltranslator.net.Areas.Blog.Models
@model web.professionaltranslator.net.Areas.Blog.Pages.IndexModel
@inject IOptionsSnapshot<BlogSettings> Settings
@{
    ViewData[Constants.Title] = Model.Data.Title;
    ViewData[Constants.Description] = Model.Data.Excerpt;
    var host = $"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}";
    bool isCodePreview = Model.Data.Content.Contains("</code>");
    string headerText = Model.Item.Header.Trim();
}
@section Styles {
    <link rel="canonical" href="@(host + Model.Data.GetLink())" />
    <link rel="stylesheet" type="text/css" href="~/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/css/form.min.css" asp-append-version="true" />
    @if (Model.ShowComments)
    {
        <link rel="preload" href="~/css/blog/comments.css" as="style" asp-append-version="true" />
        <noscript><link rel="stylesheet" href="~/css/blog/comments.css" asp-append-version="true" /></noscript>
    }

    @if ((Model.Directory.Any()) && Model.CurrentPage < Model.PageCount)
    {
        <link rel="prev" href="@ViewData[Constants.Previous]" />
    }
    @if (Model.CurrentPage > 0)
    {
        <link rel="next" href="@ViewData[Constants.Next]" />
    }
}
@section BlogDirectory
{
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a id="blog_directory" data-toggle="collapse" href="#blog_directory_container" role="button" aria-expanded="false" aria-controls="blog_directory_container">
                    <i id="blog_directory_icon" class="fas fa-folder"></i>&nbsp;Blog Directory
                </a>
            </div>
            <div class="col-6 text-right">
                <a id="subscribe_link" data-toggle="collapse" href="#subscribe_form_container" role="button" aria-expanded="false" aria-controls="blog_directory_container">
                    <i id="subscribe_link_icon" class="fas fa-bell"></i>&nbsp;Subscribe
                </a>
            </div>
            <div class="col-12">
                <div class="collapse mt-3 fadeInRightBig animated" id="blog_directory_container" style="visibility: visible; animation-name: fadeInRightBig;">
                    <div class="card card-body">
                        @if (!string.IsNullOrWhiteSpace(Model.Category))
                        {
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <b>
                                        @if ((!Model.Directory.Any()) && (!string.IsNullOrWhiteSpace(Model.Category)))
                                        {
                                            <span>There are no posts for this category.</span>
                                        }
                                        else
                                        {
                                            <span>*Posts filtered by @Model.Category category.</span>
                                        }
                                    </b>
                                </div>
                                <div class="col-lg-6 col-sm-12 text-right">
                                    <div class="mt-2">
                                        <a class="2x sentence-case" href="/Blog/Index/@Model.Slug/@Model.CurrentPage"><i class="fas fa-eraser"></i> Clear @Model.Category Filter</a>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (!Model.Directory.Any() && (string.IsNullOrWhiteSpace(Model.Category)))
                        {
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <p class="bold">
                                        Blog is empty.
                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            @foreach (Models.Post dataItem in Model.Directory)
                            {
                                <div class="row post-index">
                                    <div class="col-12 text-justify">
                                        <article class="post index" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                                            <header>
                                                <h1 itemprop="name headline" class="h1-responsive"><a href="@dataItem.GetLink()" rel="canonical" itemprop="url"><i class="fas fa-book-reader">&nbsp;</i>@dataItem.Title</a></h1>
                                            </header>
                                            <div itemprop="articleBody mainEntityOfPage" cdnify>
                                                @Html.Raw(dataItem.Excerpt)
                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    <span>&ndash;&nbsp;<a asp-area="Blog" asp-page="/Edit" asp-route-postid="@dataItem.Id" title="Edit @dataItem.Title"><i class="fa fa-edit"></i></a></span>
                                                }
                                            </div>
                                            <footer>
                                                <time datetime="@dataItem.PubDate.ToString("s")" itemprop="datePublished">@dataItem.PubDate.ToShortDateString() @dataItem.PubDate.ToShortTimeString()</time>
                                                @if (dataItem.Categories.Any())
                                                {
                                                    <ul class="categories float-right">
                                                        <li> Posted in </li>
                                                        @foreach (string cat in dataItem.Categories)
                                                        {
                                                            <li itemprop="articleSection"><a data-url="/Blog/Index/@Model.Slug/1/@cat.ToLowerInvariant()" class="directory-link">@cat</a></li>
                                                        }
                                                    </ul>
                                                }
                                                <meta itemprop="author" content="@Settings.Value.Owner" />
                                                <meta itemprop="dateModified" content="@dataItem.LastModified.ToString("s")" />
                                                <meta itemprop="mainEntityOfPage" content="@(host + dataItem.GetLink())" />
                                            </footer>
                                        </article>
                                    </div>
                                </div>
                            }
                        }

                        @if (Model.PageCount > 1)
                        {
                            <div class="row">
                                <div class="col-6">
                                    @if ((Model.Directory.Any()) && Model.CurrentPage < Model.PageCount)
                                    {
                                        int previousPage = Model.CurrentPage + 1;
                                        <a rel="prev" class="directory-link 3x" data-url="/Blog/Index/@Model.Slug/@previousPage/@Model.Category" title="View older posts.">
                                            <h3><i class="fas fa-hand-point-left"></i> Older Posts</h3>
                                        </a>
                                    }
                                </div>
                                <div class="col-6 text-right">
                                    @if (Model.CurrentPage != 1)
                                    {
                                        int nextPage = Model.CurrentPage - 1;
                                        <a rel="prev" class="directory-link 3x" data-url="/Blog/Index/@Model.Slug/@nextPage/@Model.Category" title="View newer posts.">
                                            <h3>Newer Posts <i class="fas fa-hand-point-right"></i></h3>
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="collapse mt-3 fadeInLeftBig animated" id="subscribe_form_container" style="visibility: visible; animation-name: fadeInLeftBig;">
                    <div class="card card-body">
                        <div class="form-wrapper">
                            <form class="form-container validate-form" autocomplete="off" method="post">
                                <div class="form-row">
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <div class="input-container validate-input light-gray-background" data-validate="Please type your first name here." title="Your first name goes here.">
                                            <input id="subscriber_first_name" class="input-element" type="text" placeholder="Your First Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                        <div class="input-container validate-input light-gray-background" data-validate="Please type your last name here." title="Your last name goes here.">
                                            <input id="subscriber_last_name" class="input-element" type="text" placeholder="Your Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-12">
                                        <div class="input-container validate-input light-gray-background" data-validate="Please type a valid email address here." title="A valid email address is required here.">
                                            <input id="subscriber_email_address" class="input-element" type="email" placeholder="Your Email Address">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="subscriber_result_row" class="form-row hide-soft">
                                <div class="form-group col-12">
                                    <div id="subscriber_result_text" role="alert"></div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <button id="confirm_subscription" class="btn btn-purple" role="button" title="Discover what a professional translation can do for you."><span>Subscribe!</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12">
        <h3 class="h3-responsive page-header stay-visible mb-5">
            <sup><i class="fas fa-quote-left"></i></sup>@Html.Raw(headerText)<sup><i class="fas fa-quote-right"></i></sup>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-12 text-justify">
        <article class="post entry container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
            <header>
                <h1 itemprop="name headline" class="h1-responsive"><a href="@Model.Data.GetLink()" rel="canonical" itemprop="url">@Model.Data.Title</a></h1>
            </header>
            <div itemprop="articleBody mainEntityOfPage" cdnify>
                @Html.Raw(Model.Data.RenderContent())
            </div>
            <footer>
                <div class="row">
                    <div class="col-6">
                        @if (Model.UserAuthenticated)
                        {
                            <a asp-area="Blog" asp-page="/Edit" asp-route-postid="@Model.Data.Id" title="Edit @Model.Data.Title"><i class="fa fa-edit"></i> Edit Post</a>
                        }
                    </div>
                    <div class="col-6 text-right">
                        @if (Model.HasCategories)
                        {
                            <ul class="categories">
                                <li> <time datetime="@Model.Data.PubDate.ToString("s")" itemprop="datePublished">Published @Model.Data.PubDate.ToString("MMM d, yyyy")</time> in </li>
                                @foreach (string categories in Model.Data.Categories)
                                {
                                    <li itemprop="articleSection"><a asp-area="Blog" asp-page="Posts" asp-route-currentpage="1" asp-route-category="@categories.ToLowerInvariant()">@categories</a></li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <meta itemprop="author" content="@Settings.Value.Owner" />
                <meta itemprop="dateModified" content="@Model.Data.LastModified.ToString("s")" />
                <meta itemprop="mainEntityOfPage" content="@(host + Model.Data.GetLink())" />
            </footer>
        </article>

        @section Comments {
            <section id="comments">
                <div class="container">
                    @if (Model.ShowComments)
                    {
                        <h2>
                            <i class="fas fa-comments" title="Comments"></i>
                            @if ((Model.CommentsAreOpen) && (Model.BeFirstToComment))
                            {
                                <span>Be the first commenter!</span>
                            }
                        </h2>
                        @foreach (Comment comment in Model.Data.Comments)
                        {
                            <article id="@comment.Id" class="@(comment.IsAdmin ? "admin" : null)" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                                <h3>
                                    <time datetime="@comment.PubDate.ToString("s")" itemprop="datePublished">
                                        <a href="#@comment.Id" title="Permalink (#@comment.Id)">@comment.PubDate.ToString("MMMM d, yyyy")</a>
                                    </time>
                                </h3>

                                <figure class="gravatar">
                                    <img alt="@comment.Author" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="@comment.GetGravatar()" />
                                </figure>

                                <div class="content">
                                    <p itemprop="text">@comment.RenderContent()</p>
                                    <span itemprop="name">@comment.Author</span>

                                    @if (Model.UserAuthenticated)
                                    {
                                        <a class="noline" href="mailto:@comment.Email" title="Send email to @comment.Email">&#x2709;</a>
                                        @*<a class="delete noline" asp-controller="Blog" asp-Action="DeleteComment" asp-route-postid="@Model.ID" asp-route-commentid="@comment.ID" asp-route-afrt="@ViewData["afrt"]" title="Delete the comment...">Delete...</a>*@
                                    }
                                </div>
                            </article>
                        }
                    }
                    @if (Model.CommentsAreOpen)
                    {
                        <form method="post" asp-antiforgery="false">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <div class="input-container validate-input" data-validate="Enter your comments here." title="Enter your comments here.">
                                        <textarea id="content" name="content" class="input-element" placeholder="Enter your comment here..."></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="details">
                                <div class="form-row">
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-container validate-input" data-validate="Enter your name here." title="Your name goes here.">
                                            <input id="author" name="author" placeholder="Your Name" class="input-element" />
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                        <div class="input-container validate-input" data-validate="Valid email address required." title="Valid email address required.">
                                            <input id="email" name="email" placeholder="Your Email Address" class="input-element" />
                                        </div>
                                    </div>
                                </div>
                                <div id="comment_result_row" class="form-row hide-soft">
                                    <div class="form-group col-12">
                                        <div id="comment_result_text" role="alert"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-12 text-center">
                                        <button id="save_comment" type="submit" class="btn btn-link text-larger">
                                            <i class="fas fa-comment"></i>
                                            Add Comment
                                        </button>

                                        <!-- This element is being removed by site.js. It is to prevent comment spam-->
                                        <input type="hidden" name="website" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <noscript>
                            <div class="row">
                                <div class="col-12">
                                    <h3>
                                        You must enable JavaScript to post comments.
                                    </h3>
                                </div>
                            </div>
                        </noscript>
                    }
                    else
                    {
                        <br />
                        <p>Comments are closed</p>
                    }
                </div>
            </section>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/js/form.min.js" asp-append-version="true"></script>
    <script src="~/js/blog/subscribe.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {

            $(".directory-link").on("click",
                function () {
                    localStorage.setItem("open-directory", "1");
                    const reload = $(this).data("url");
                    window.location.href = reload;
                });

            $("p").each(function () {
                if ($(this).has("img").length > 0) {
                    $(this).addClass("d-flex justify-content-center");
                }
            });
        });
    </script>
}
