@page "{currentpage?}"
@using Microsoft.Extensions.Options
@model web.professionaltranslator.net.Areas.Blog.Pages.PostsModel
@inject IOptionsSnapshot<BlogSettings> Settings
@{
    ViewData["Title"] = Model.Item.Title;
    string body = Model.Item.Body.Trim().Replace("<p>", string.Empty).Replace("</p>", string.Empty);
    string headerText = Model.Item.Header.Trim();

    int pageCount = int.TryParse(ViewData[Constants.TotalPostCount].ToString(), out pageCount) ? 0 : pageCount / 2;
    var host = $"{HttpContext.Request.Scheme}://{HttpContext.Request.Host}";
}
<div class="row">
    <div class="col-12 text-column">
        <h3 class="h3-responsive page-header stay-visible mb-5">
            <sup><i class="fas fa-quote-left"></i></sup>@Html.Raw(body)<sup><i class="fas fa-quote-right"></i></sup>
        </h3>
    </div>
</div>

@*Remove repeater before publishing to prod*@
@for (var i = 0; i < 3; i++) {
    @foreach (Models.Post dataItem in Model.Data)
    {
        <div class="row post-index">
            <div class="col-12 text-justify">
                <article class="post index container" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                    <header>
                        <h1 itemprop="name headline" class="h1-responsive"><a href="@dataItem.GetLink()" rel="canonical" itemprop="url">@dataItem.Title</a></h1>
                    </header>
                    <div itemprop="articleBody mainEntityOfPage" cdnify>
                        @Html.Raw(dataItem.Excerpt)
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span>&ndash;&nbsp;<a asp-area="Blog" asp-page="/Edit" asp-route-slug="@dataItem.Slug" title="Edit @dataItem.Title"><i class="fa fa-edit"></i></a></span>
                        }
                    </div>

                    <footer>
                        <time datetime="@dataItem.PubDate.ToString("s")" itemprop="datePublished">@dataItem.PubDate.ToShortDateString()</time>
                        @if (dataItem.Categories.Any())
                        {
                            <ul class="categories float-right">
                                <li> Posted in </li>
                                @foreach (string cat in dataItem.Categories)
                                {
                                    <li itemprop="articleSection"><a asp-area="Blog" asp-page="/Index" asp-route-slug="@cat.ToLowerInvariant()">@cat</a></li>
                                }
                            </ul>
                        }
                        <meta itemprop="author" content="@Settings.Value.Owner" />
                        <meta itemprop="dateModified" content="@dataItem.LastModified.ToString("s")" />
                        <meta itemprop="mainEntityOfPage" content="@(host + dataItem.GetLink())" />
                    </footer>
                </article>
            </div>
        </div>
    }
}
<div class="row">
    <div class="col-12">
        <nav class="pagination container" aria-label="Pagination">
            @if ((Model.Data.Any()) && Model.CurrentPage < pageCount)
            {
                <a rel="prev" href="@ViewData[Constants.Previous]" title="Older posts">&laquo; Older</a>
            }
            @if (Model.CurrentPage > 0)
            {
                <a rel="next" href="@ViewData[Constants.Next]" title="Newer posts">Newer &raquo;</a>
            }
            <br /><br />

            @section Styles {
                @if ((Model.Data.Any()) && Model.CurrentPage < pageCount)
                {
                    <link rel="prev" href="@ViewData[Constants.Previous]" />
                }
                @if (Model.CurrentPage > 0)
                {
                    <link rel="next" href="@ViewData[Constants.Next]" />
                }
            }
        </nav>
    </div>
</div>