@page "{queryid:guid?}"
@using global::Models.ProfessionalTranslator.Net
@model EditPortfolioModel
@{
    ViewData["Title"] = "Portfolio Editor";
    string body = Model.Item.Body;
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="~/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/css/form.min.css" asp-append-version="true" />
}
<div class="row mb-4">
    <div class="col-12 text-center page-header">
        <h1>
            @Html.Raw(Model.Item.Header)
        </h1>
    </div>
</div>
<div class="row mb-4">
    @if (Model.Item.Image != null)
    {
        <div class="col-lg-2 col-md-3 col-sm-12">
            <img src="@Model.Item.Image.Path" class="img-fluid img-inset" alt="@Model.Item.Name" title="@Model.Item.Name">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 text-justify">
            @Html.Raw(body)
        </div>
    }
    else
    {
        <div class="col-12 text-justify">
            @Html.Raw(body)
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        <form id="upload_form" method="post">
            <div class="form-group row">
                <div class="col-3">
                    <input asp-for="UploadedFile" class="form-control">
                </div>
            </div>
            <div id="upload_result_row" class="form-row hide">
                <div class="form-group col-12">
                    <div id="upload_error_text" role="alert"></div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 text-center">
                    <button class="btn btn-primary" id="upload_cover">Upload Cover</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mb-4">
    <div class="col-lg-2 col-md-3 col-sm-12">
        <img id="displayed_cover" src="@Model.Data.Cover" class="img-fluid img-inset" alt="@Model.Data.Title" title="@Model.Data.Title">
    </div>
    <div class="col-lg-10 col-md-9 col-sm-12 text-justify">
        <div class="form-wrapper">
            <form class="form-container validate-form" autocomplete="off" method="post">
                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <div class="input-container validate-input light-gray-background" data-validate="Please type a title here." title="Enter the title of the work here.">
                            <input id="title" class="input-element" type="text" placeholder="Title" value="@Model.Data.Title"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <div class="input-container validate-input light-gray-background" data-validate="Please type the name of the author(s)." title="Please type the name of the author(s).">
                            <input id="author" class="input-element" type="text" placeholder="Author(s) Name" value="@Model.Data.Author"/>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <div class="input-container validate-input light-gray-background" data-validate="Please enter a valid url." title="Enter the url where the book can be purchased.">
                            <input id="href" class="input-element" type="url" placeholder="Enter the url where the book can be purchased here." value="@Model.Data.Href"/>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <div class="input-container form-check-container light-gray-background" data-validate="Please enter a valid url." title="Enter the url where the book can be purchased.">
                            <input type="checkbox" id="display" class="form-check-inline" checked="@Model.Data.Display">
                            <label class="form-check-label" for="display">Publicly Visible</label>
                        </div>
                    </div>
                </div>
                <div id="work_result_row" class="form-row hide">
                    <div class="form-group col-12">
                        <div id="work_result_text" role="alert"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12">
                        <button id="save_work" class="btn btn-purple" role="button" title="Click to save the testimonial."><span>Save Work</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/js/form.min.js" asp-append-version="true"></script>
    <script src="~/js/admin/edit-work.min.js" asp-append-version="true"></script>
}
